{% extends 'base.html' %}
{% load static %}

{% block title %}Страница пользователя{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">Давай Шагай</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% url 'web-mug:profile' user.id %}">
              <i class="fa fa-user"></i>
              {% if user.last_name %}
                {{ user.last_name }} {{ user.first_name }}
              {% else %}
                {{ user.username }}
              {% endif %}</a>
          </li>
          <li>
            <a href="{% url 'web-mug:profile_edit' user.id %}">
              <i class="fa fa-pencil-square-o"></i>Редактировать профиль</a>
          </li>
          <li class="active">
            <a href="{% url 'web-mug:users' %}">
              <i class="fa fa-users"></i>Пользователи</a>
          </li>
          <li>
            <a href="{% url 'web-mug:logout' %}">
              <i class="fa fa-sign-out"></i>Выход</a>
          </li>
        </ul>

      </div>
    </nav>

    <div class="container" style='margin-top: 50px;'>

      <div id="page-wrapper" >
        <div id="page-inner">

          <div class="row">
            <div class="col-md-12">
              <h2 align='center'>Пользователи</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- Advanced Tables -->
              <div class="panel panel-default">
                <div class="panel-body">

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                      <tr>
                        <th>№</th>
                        <th>Пользователь</th>
                        <th>Город</th>
                        <th>Возраст</th>
                        <th>Количество шагов</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for user in users %}
                        <tr class="even gradeA">
                          <td>{{ forloop.counter }}</td>
                          <td>
                            {% if user.stepUser.last_name %}
                              <a href="{{ user.stepUser.id }}">{{ user.stepUser.last_name }} {{ user.stepUser.first_name }}</a>
                            {% else %}
                              <a href="{{ user.stepUser.id }}">{{ user.stepUser.username }}</a>
                            {% endif %}
                          </td>
                          <td>{{ user.city }}</td>
                          <td class="center">{{ user.age }}</td>
                          <td class="center">{{ user.steps }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
              <!--End Advanced Tables -->
            </div>
          </div><!-- /. ROW  -->


        </div><!-- /. PAGE INNER  -->

      </div>

    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
  {% else %}
    <a href="{% url 'web-mug:index' %}"><p align="center">Войдите</p></a>
  {% endif %}
{% endblock %}

{% block script_bottom %}
	<script>
		$(document).ready(function () {
			$('#dataTables-example').dataTable({
				"language": {
					"lengthMenu": "Показать _MENU_ на одной странице",
					"zeroRecords": "Не найдено",
					"info": "Показано страниц _PAGE_ из _PAGES_",
					"infoEmpty": "No records available",
					"infoFiltered": "(filtered from _MAX_ total records)",
					"search": "Поиск пользователя _INPUT_",
					"paginate": {
						// "first":      "first",
						// "last":       "last",
						"previous": "Предыдущая",
						"next": "Следующая"
					}
				}
			});
		});
	</script>
{% endblock %}