{% spaceless %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Шагай шагай весело</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="{% static 'js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>

  <div id='main' class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Приветствуем.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 landing-tel" style='text-align: center;'>
        <img src="{% static 'img/landing-phone.png' %}" height="550px" width="270px" alt="">
      </div>
      <div class="col-md-7 landing-right">

        <h2>Присоединяйтесь к нам</h2>
        {% if user.is_authenticated and not user.is_staff %}
          {% if user.first_name %}
            <p>Привет {{ user.first_name }} {{ user.last_name }}</p>
            {% else %}
            <p>Привет {{ user.username }}</p>
          {% endif %}


          <a class="login-btn" href="{% url 'profile' user.id %}">Войти</a>
          <a class="logout-btn" href="{% url 'logout' %}">Выйти</a>

        {% else %}
          <form action="{% url 'login' %}" method='post'>
            {% csrf_token %}
            <div class="join-step">
              <p>
                <input name="username" type="text" class="form-control" placeholder='Логин'>
              </p>
              <p>
                <input name="password" type="password" class="form-control" placeholder='Пароль'>
              </p>
              <p>
                <input type="submit" class="form-control" value='Войти'>
              </p>
            </div>
          </form>
        {% endif %}


        <h2>Установите на свой телефон</h2>
        <ul class="download-device">
          <li>
            <a class="btn btn-ghost download-dev" href="#">
              <i class="fa fa-android"></i> &nbsp;
              <span class="text">Скачать для Android</span>
            </a></li>
          <li>
            <a class="btn btn-ghost download-dev">
              <i class="fa fa-apple"></i> &nbsp;
              <span class="text">Для IOS скоро..</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  </body>
  </html>
{% endspaceless %}