{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Шагай шагай весело{% endblock %}

{% block content %}


<main class="site-main">

	<div class="container">
		<h1>Ходящие приветствуют</h1>

		<div class="col-md-5 landing-tel">
			<img src="{% static 'img/landing-phone.png' %}" height="550px" width="270px" alt="">
		</div>

		<div class="col-md-7 landing-right">

			<h2>Присоединяйтесь к нам</h2>

			{% if user.is_authenticated and not user.is_staff %}

				<p class="hello_user">Привет {{ user.stepuser.get_name }}</p>

				<a class="login-btn" href="{% url 'web-mug:profile' user.id %}">Войти</a>
				<a class="logout-btn" href="{% url 'web-mug:logout' %}">Выйти</a>

			{% else %}
				<form action="{% url 'web-mug:login' %}" method="post">
					{% csrf_token %}
					<div class="join-step">
						<p>
							<input name="username" type="text" class="form-control" placeholder="Логин">
						</p>

						<p>
							<input name="password" type="password" class="form-control" placeholder="Пароль">
						</p>

						<p>
							<input type="submit" class="form-control" value="Войти">
						</p>
					</div>
				</form>
			{% endif %}


			<h3>Установите на свой телефон</h3>
			<ul class="download-device">
				<li>
					<a class="btn btn-ghost download-device-btn">
						<i class="fa fa-android"></i> &nbsp; Скачать для Android
					</a></li>
				<li>
					<a class="btn btn-ghost download-device-btn">
						<i class="fa fa-apple"></i> &nbsp; Для IOS скоро...
					</a>
				</li>
			</ul>

		</div>
	</div>

</main>

{% endblock %}