{% spaceless %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<div>
    <p>Логин</p>

    <p>
        <label for="name">логин</label>
        <input id="name" type="text"/>
    </p>

    <p>
        <label for="password">пароль</label>
        <input id="password" type="password"/>
    </p>
    <button onclick="send()">отправить</button>
</div>

<hr>

<div>
    <p>регистрация</p>

    <p><label for="rname">логин</label>
        <input id="rname" type="text"/>
    </p>

    <p>
        <label for="rpassword"> пароль</label>
        <input id="rpassword" type="password"/>
    </p>

    <p><label for="rfirst_name">имя</label>
        <input id="rfirst_name" type="text"/>
    </p>

    <p>
        <label for="rlast"> фамилия</label>
        <input id="rlast" type="text"/>
    </p>
    <button onclick="reg()">отправить</button>
</div>

<hr>

<div>
    <p>инфо</p>

    <p><label for="iname">логин</label>
        <input id="iname" type="text"/>
    </p>

    <p>
        <label for="ipassword">пароль</label>
        <input id="ipassword" type="password"/>
    </p>
    <button onclick="info()">отправить</button>
</div>

{#<hr>#}
{##}
{#<div>#}
{#    <p>обновление данных</p>#}
{##}
{#    <p><label for="uname">логин</label>#}
{#        <input id="uname" type="text"/>#}
{#    </p>#}
{##}
{#    <p>#}
{#        <label for="upassword"> пароль</label>#}
{#        <input id="upassword" type="password"/>#}
{#    </p>#}
{##}
{#    <p><label for="ufirst_name">имя</label>#}
{#        <input id="ufirst_name" type="text"/>#}
{#    </p>#}
{##}
{#    <p>#}
{#        <label for="ulast"> фамилия</label>#}
{#        <input id="ulast" type="text"/>#}
{#    </p>#}
{##}
{#    <p><label for="age">возраст</label>#}
{#        <input id="age" type="text"/>#}
{#    </p>#}
{##}
{#    <p>#}
{#        <label for="city"> город</label>#}
{#        <input id="city" type="text"/>#}
{#    </p>#}
{#    <button onclick="updateinfo()">отправить</button>#}
{#</div>#}
{##}
{##}
{#<hr>#}
{##}
{#<div>#}
{#    <p>Шаги</p>#}
{##}
{#    <p><label for="sname">логин</label>#}
{#        <input id="sname" type="text"/>#}
{#    </p>#}
{##}
{#    <p>#}
{#        <label for="spassword">пароль</label>#}
{#        <input id="spassword" type="password"/>#}
{#    </p>#}
{#    <button onclick="steps()">отправить</button>#}
{#</div>#}
{##}
{#<hr>#}
{##}
{#<div>#}
{#    <p>массив</p>#}
{##}
{#    <p><label for="mname">логин</label>#}
{#        <input id="mname" type="text"/>#}
{#    </p>#}
{##}
{#    <p>#}
{#        <label for="mpassword">пароль</label>#}
{#        <input id="mpassword" type="password"/>#}
{#    </p>#}
{#    <button onclick="hist()">отправить</button>#}
{#</div>#}


<script>
    function send() {
        var username = $("#name").val();
        var password = $("#password").val();
        $.ajax({
            type: "POST",
            url: "{% url 'api:login' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                username: username,
                password: password
            },
            success: function (json) {
                console.log(json);
            },
            error: function (e) {
                console.log(e)
            }
        });
    }

    function reg() {
        var username = $("#rname").val();
        var password = $("#rpassword").val();
        var first_name = $("#rfirst_name").val();
        var last_name = $("#rlast").val();
        $.ajax({
            type: "POST",
            url: "{% url 'api:registration' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                username: username,
                password: password,
                first_name: first_name,
                last_name: last_name
            },
            success: function (json) {
                console.log(json);
            },
            error: function (e) {
                console.log(e)
            }
        });
    }

    function info() {
        var user = $("#iname").val();
        var password = $("#ipassword").val();
        $.ajax({
            type: "POST",
            url: "{% url 'api_info' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                user: user,
                password: password
            },
            success: function (json) {

                alert("ура");
                console.log(json);
            },
            error: function (e) {
                alert("error!");
                console.log(e)
            }
        });
    }


    {#    function updateinfo() {#}
    {#        var user = $('#uname').val();#}
    {#        var password = $('#upassword').val();#}
    {#        var first_name = $('#ufirst_name').val();#}
    {#        var last_name = $('#ulast').val();#}
    {#        var age = $('#age').val();#}
    {#        var city = $('#city').val();#}
    {##}
    {#        console.log(user);#}
    {#        console.log(password);#}
    {#        $.ajax({#}
    {#            type: "POST",#}
    {#            url: "{% url 'api_info_update' %}",#}
    {#            dataType: "json",#}
    {#            async: true,#}
    {#            data: {#}
    {#                csrfmiddlewaretoken: '{{csrf_token}}',#}
    {#                user: user,#}
    {#                password: password,#}
    {#                first_name: first_name,#}
    {#                last_name: last_name,#}
    {#                age: age,#}
    {#                city: city#}
    {#            },#}
    {#            success: function (json) {#}
    {##}
    {#                alert('ура');#}
    {#                console.log(json);#}
    {#            },#}
    {#            error: function () {#}
    {#                alert('error!');#}
    {#            }#}
    {#        });#}
    {#    }#}
    {##}


    {##}
    {#    function steps() {#}
    {#        var user = $('#sname').val();#}
    {#        var password = $('#spassword').val();#}
    {#        console.log(user);#}
    {#        console.log(password);#}
    {#        $.ajax({#}
    {#            type: "POST",#}
    {#            url: "{% url 'step_update' %}",#}
    {#            dataType: "json",#}
    {#            async: true,#}
    {#            data: {#}
    {#                csrfmiddlewaretoken: '{{csrf_token}}',#}
    {#                user: user,#}
    {#                password: password,#}
    {#                step: 12#}
    {#            },#}
    {#            success: function (json) {#}
    {##}
    {#                alert('ура');#}
    {#                console.log(json);#}
    {#            },#}
    {#            error: function () {#}
    {#                alert('error!');#}
    {#            }#}
    {#        });#}
    {#    }#}
    {##}
    {#    function hist() {#}
    {#        var user = $('#mname').val();#}
    {#        var password = $('#mpassword').val();#}
    {#        console.log(user);#}
    {#        console.log(password);#}
    {#        $.ajax({#}
    {#            type: "POST",#}
    {#            url: "{% url 'history' %}",#}
    {#            dataType: "json",#}
    {#            async: true,#}
    {#            data: {#}
    {#                csrfmiddlewaretoken: '{{csrf_token}}',#}
    {#                user: user,#}
    {#                password: password#}
    {#            },#}
    {#            success: function (json) {#}
    {##}
    {#                alert('ура');#}
    {#                console.log(json);#}
    {#            },#}
    {#            error: function () {#}
    {#                alert('error!');#}
    {#            }#}
    {#        });#}
    {#    }#}
</script>
</body>
</html>
{% endspaceless %}